<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Static/js/layui/css/layui.css" rel="stylesheet" />
    <script src="/Static/script/jquery-1.10.2.min.js"></script>
    <script src="~/Static/js/layui/layui.js"></script>
    <title></title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>


