    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link href="~/dist/css/zui.css" rel="stylesheet" />
    <link href="~/res/zui/css/min.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/dist/js/zui.min.js"></script>
    <link href="/Scripts/Validform/css/style.css" rel="stylesheet" />
    <script src="/Scripts/Validform/js/Validform_v5.3.2.js" type="text/javascript"></script>
    <script src="/Scripts/form/jquery.form.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/layer/layer.tools.js"></script>
    <script src="~/Scripts/layer/layer_bak.js"></script>
    <script src="~/Scripts/admin.min.js"></script>
